<md-dialog aria-label="Mango (Fruit)" ng-cloak>
	<form>
		<md-toolbar id ="new-password-toolbar">
			<div class="md-toolbar-tools">
				<h2 id="new-password-hedear">New password</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<p id="new-password-p"> Enter a new password</p>

		<md-dialog-actions id="new-password-dialog" layout="row">
			<input value="newpassword" placeholder="password" id="new-password-input" ng-model="login.tempPassword" type="password" class="remove-form" />
		</md-dialog-actions>

	</form>
	<md-button id="new-password-button" class="remove-form" ng-click="answer()">Ok</md-button>
</md-dialog>