#tickets-panel-primary{
	    position: relative;
    top: 109px;
}

/*
#tickets-wrapper-div{
	background: gray;
	    margin-right: 10px;
    margin-left: 10px;
}
*/
.tickets-tableheader{
	    color: #009FE3;
    background: -moz-linear-gradient(50% 0% -90deg,rgba(251, 252, 252, 1) 8.71%,rgba(204, 204, 204, 1) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(251, 252, 252, 1) 8.71%, rgba(204, 204, 204, 1) 100%);
    background: -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.0871,rgba(251, 252, 252, 1) ),color-stop(1,rgba(204, 204, 204, 1) ));
    background: -o-linear-gradient(-90deg, rgba(251, 252, 252, 1) 8.71%, rgba(204, 204, 204, 1) 100%);
    background: -ms-linear-gradient(-90deg, rgba(251, 252, 252, 1) 8.71%, rgba(204, 204, 204, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFCFC', endColorstr='#CCCCCC' ,GradientType=0)";
    background: linear-gradient(180deg, rgba(251, 252, 252, 1) 8.71%, rgba(204, 204, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFCFC',endColorstr='#CCCCCC' , GradientType=0);
}
.tickets-table >tbody> tr>td{
	text-align: center;
	text-align: -webkit-center;
}
.tickets-table >thead> tr>th{
	text-align: center;
}
.tickets-tbody{
	background: white;
	   color: #009FE3;
}
.ticket-total-td{
	
}
.trash-tickets-td{
	text-align: center;
	    text-align: -webkit-center  !important;
}
.ticket-total{
	    position: relative;
    top: -5px;
	    width: 30px;
/*
	    margin-left: 6px;
    margin-right: 15px;
*/
}
@media only screen and (max-width: 767px) {

   .ticket-total {
	   top:0px;
      font-size: 1em;
/*	   width: 10px;*/
   }
	.minus-ticket{
		font-size: 1em;
	}
	.plus-ticket{
		font-size: 1em;
	}

}
.trash-tickets-table{

    width: 20px;
    height: 22px;
    display: block;
    background-image: url("http://justrun.site/images/trash.svg");
    background-repeat: no-repeat;
}


.tickets-table>tbody>tr:nth-child(even) {
    background-color: #CEE5EF;
}
.update-tickets-table{
  
    position: relative;
    width: 20px;
    height: 22px;
    display: block;
    background-image: url("http://justrun.site/images/save_icon.svg");
    background-repeat: no-repeat;
}
#model-new-ticket-from{
	    border-top-left-radius: 31px 47px;
    border-top-right-radius: 29px 47px;
    border-bottom-left-radius: 27px 47px;
    border-bottom-right-radius: 27px 47px;
	color: #1AA7E3;
}
.header-tickets-form{
    top: -1px;
    width: 100%;
    left: 0px;
    position: relative;
    border-top-left-radius: 27px 47px;
    border-top-right-radius: 27px 47px;
    background: -moz-linear-gradient(0% 50% 0deg, rgba(0, 159, 227, 1) 0%, rgba(13, 166, 230, 1) 4.09%, rgba(34, 178, 234, 1) 12.81%, rgba(49, 187, 237, 1) 22.56%, rgba(57, 191, 238, 1) 34.07%, rgba(60, 193, 239, 1) 51.69%, rgba(55, 190, 238, 1) 63.14%, rgba(40, 182, 235, 1) 77.11%, rgba(15, 168, 230, 1) 92.33%, rgba(0, 159, 227, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 159, 227, 1) 0%, rgba(13, 166, 230, 1) 4.09%, rgba(34, 178, 234, 1) 12.81%, rgba(49, 187, 237, 1) 22.56%, rgba(57, 191, 238, 1) 34.07%, rgba(60, 193, 239, 1) 51.69%, rgba(55, 190, 238, 1) 63.14%, rgba(40, 182, 235, 1) 77.11%, rgba(15, 168, 230, 1) 92.33%, rgba(0, 159, 227, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(0, 159, 227, 1)), color-stop(0.0409, rgba(13, 166, 230, 1)), color-stop(0.1281, rgba(34, 178, 234, 1)), color-stop(0.2256, rgba(49, 187, 237, 1)), color-stop(0.3407, rgba(57, 191, 238, 1)), color-stop(0.5169, rgba(60, 193, 239, 1)), color-stop(0.6314, rgba(55, 190, 238, 1)), color-stop(0.7711, rgba(40, 182, 235, 1)), color-stop(0.9233, rgba(15, 168, 230, 1)), color-stop(1, rgba(0, 159, 227, 1)));
    background: -o-linear-gradient(0deg, rgba(0, 159, 227, 1) 0%, rgba(13, 166, 230, 1) 4.09%, rgba(34, 178, 234, 1) 12.81%, rgba(49, 187, 237, 1) 22.56%, rgba(57, 191, 238, 1) 34.07%, rgba(60, 193, 239, 1) 51.69%, rgba(55, 190, 238, 1) 63.14%, rgba(40, 182, 235, 1) 77.11%, rgba(15, 168, 230, 1) 92.33%, rgba(0, 159, 227, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(0, 159, 227, 1) 0%, rgba(13, 166, 230, 1) 4.09%, rgba(34, 178, 234, 1) 12.81%, rgba(49, 187, 237, 1) 22.56%, rgba(57, 191, 238, 1) 34.07%, rgba(60, 193, 239, 1) 51.69%, rgba(55, 190, 238, 1) 63.14%, rgba(40, 182, 235, 1) 77.11%, rgba(15, 168, 230, 1) 92.33%, rgba(0, 159, 227, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#009FE3', endColorstr='#009FE3' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(0, 159, 227, 1) 0%, rgba(13, 166, 230, 1) 4.09%, rgba(34, 178, 234, 1) 12.81%, rgba(49, 187, 237, 1) 22.56%, rgba(57, 191, 238, 1) 34.07%, rgba(60, 193, 239, 1) 51.69%, rgba(55, 190, 238, 1) 63.14%, rgba(40, 182, 235, 1) 77.11%, rgba(15, 168, 230, 1) 92.33%, rgba(0, 159, 227, 1) 100%);
}
.header-tickets-form-title{
	    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    text-shadow: rgb(84, 84, 84) 1px 1px 6px;
    position: relative;
}
.button-tickets-form{
	    position: relative;
    width: 42%;
    margin-right: 20px;
    border-radius: 12px;
    border-radius: 12px;
    font-size: 19px;
    margin: 0 auto;
    color: rgb(242, 242, 242);
    font-weight: bold;
    letter-spacing: 0.67px;
    text-shadow: 4.01px 2.67px 2.67px rgba(0, 56, 81, 0.47);
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #178acc;
}