<div id="ticketnew" class="modal" role="dialog">
    <div class="modal-dialog" >
        <div id="model-new-ticket-from" class="modal-content" >
            <div class="modal-header header-tickets-form" >
                <button type="button" class="close pull-left" ng-click="hideModal()" >&times;</button >
                <h4 class="modal-title header-tickets-form-title" >Update</h4 >
            </div>
            <div class="modal-body" >
                <form ng-submit="tickets.updateTicket('update',tickets.formdataupdated.id,tickets.formdataupdated.total)"
                      class="form-horizontal"
                      novalidate >
                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Name</label >
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="firstname"ng-model="tickets.formdataupdated.first_name" disabled />
                        </div>
                    </div>

                    <div class="form-group " >
                        <label class="col-sm-3 control-label" >Number of sessions</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="total" ng-model="tickets.formdataupdated.total" required />
                        </div >
                    </div>
                    <div class="buttons" > <button class="btn btn-primary btn-block button-tickets-form" type="submit" >Update </button >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>